<footer>
    <div class="wrap df jb aic SF">
        <div class="df aic">
            <a href="#" class="mr20"><img src="../assets/images/d’Perfumewhite.png" alt="D'Perfume logo"></a>
            <p>© 2020. All Rights Reserved.</p>
        </div>
        <ul class="links df">
            <li><a href="D-Perfume/product.html">Product</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</footer>