<nav class="df jb aic SF fz20">
    <a href="#"><img src="../assets/images/d’Perfume.png" alt="D'perfume logo"></a>
    <ul class="desktop df">
        <li><a href="../pages/product.html"><span class="material-symbols-sharp">store</span>Product</a></li>
        <li><a href="#"><span class="material-symbols-sharp">person</span>log in</a></li>
        <li><a href="#"><span class="material-symbols-sharp">favorite</span>Wishlist</a></li>
        <li><a href="#"><span class="material-symbols-sharp">shopping_cart</span>Cart(3)</a></li>
    </ul>
    <!-- mobile ver. -->
    <div class="df">
        <div class="mobile-nav">
            <div class="cart df aic">
                <div class="item-num">3</div>
                <span class="material-symbols-sharp">shopping_cart</span>
            </div>
        </div>
        <div class="mobile">
            <input type="checkbox" id="hamburger-menu">
            <label for="hamburger-menu" class="df aic">
                <span class="material-symbols-sharp hamburger-menu">menu</span>
            </label>
            <div class="menu-list">
                <ul>
                    <a href="#"><li class="bb-w">Product</li></a>
                    <a href="#"><li class="bb-w">Wishlist</li></a>
                    <a href="#"><li class="bb-w">Blog</li></a>
                    <a href="#"><li class="bb-w">Contact</li></a>
                    <a href="#"><li class="bb-w">log in</li></a>
                </ul>
            </div>
        </div>
    </div>
</nav>
