<div class="subscription">
    <div class="container SF">
        <div class="subscription__content">
        <h2 class="subscription__title fz32 fw600 g-3">記得<br>訂閱以獲取更多資訊！</h2>
        <div class="subscription__form">
            <form action="#">
                <input type="email" class="subscription__input SF" placeholder="Your email address">
                <button class="subscription__button SF">Subscribe</button>
            </form>
        </div>
        </div>
    </div>
</div>