<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D'Perfume</title>
    <%- include('./layout/head'); -%>
</head>
  <body>
    <%- include('./layout/nav'); -%>
    <section class="landing-page SF">
      <div class="wrap">
        <div>
          <h1 class="index-title fz40">Perfume your day</h1>
          <p class="fz24 mb16">A perfume is like a piece of clothing, a message, a way of presenting oneself a costume that according to the person who wears it.</p>
          <div class="to-product fz32"><a href="#">Shop now</a></div>
        </div>
      </div>
    </section>
    <section class="intro SF">
      <div class="wrap-reverse ">
        <div class="chunk">
          <img src="../assets/images/index2.jpg" alt="Gabrielle CHANEL">
        </div>
        <div class="item-wrap">
          <div class="item">
            <h3 class="fz32">Gabrielle CHANEL</h3>
            <p class="fz20 mb16">全新嗅覺體驗，花香四溢、明亮馥郁。結合茉莉、依蘭依蘭、橙花和最迷人的格拉斯晚香玉之花香，呈現出夢幻花香氣息。 極具女性特質的香奈兒嘉柏麗香水，專為光芒四射的她而生。</p>
            <a href="#" class="fz16">查看更多</a>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="chunk">
          <img src="../assets/images/index3.png" alt="Five O’clock Au Gingembre">
        </div>
        <div class="item-wrap">
          <div class="item">
            <h3 class="fz32">Five O’clock Au Gingembre</h3>
            <p class="fz20 mb16">生薑與溫醇的肉桂香、紅糖的香甜摻和成一氣，溫暖微辛的氣息反倒形成一股輕煙氤氳開來，還帶點微微煙醺感漫溢在整個鼻息之間，細聞之下,又還有溫溫淡淡的木香，溫和而暖心。</p>
            <a href="#" class="fz16">查看更多</a>
          </div>
        </div>
      </div>
      <div class="wrap-reverse">
        <div class="chunk">
          <img src="../assets/images/index4.jpg" alt="CHANEL N°5">
        </div>
        <div class="item-wrap">
          <div class="item">
            <h3 class="fz32">CHANEL N°5</h3>
            <p class="fz20 mb16">N°5，女性魅力的極致精髓。散發柔美澄透的乙醛花束香氣。經典傳奇香氛，蘊藏於極簡設計的獨特瓶身。</p>
            <a href="#" class="fz16">查看更多</a>
          </div>
        </div>
      </div>
      <div class="wrap">
        <div class="rec">
          <img src="../assets/images/index5.jpg" alt="Gabrielle CHANEL">
        </div>
        <div class="item-wrap">
          <div class="item">
            <div class="feature">
              <h4>1.<br>Levels of Preventive Maintenance Compliance</h4>
              <p class="mb52">The core idea of preventative maintenance is the performance of proactive actions against unscheduled downtime in order to identify potential defects before they evolve into something more severe.</p>
            </div>
            <div class="feature">
              <h4>2.<br>Percentage of Planned Maintenance</h4>
              <p class="mb52">The planned maintenance percentage is the total planned maintenance time in your CMMS software over a date range over the total number of hours of a service performed by the technicians.</p>
            </div>
            <div class="feature">
              <h4>3.<br>Critical percentage of planned maintenance</h4>
              <p class="mb52">Calculating the critical percentage of planned maintenance will help you prioritize the most important operations that should be performed immediately.</p>
            </div>
            <a href="#" class="fz20 to-reserve">Plan a free online training</a>
          </div>
        </div>
      </div>
    </section>
    <div class="goods-list">
      <ul class="goods-items df jb">
        <li>
          <div class="container">
            <img src="../assets/images/index6.jpg" alt="Poppy & Barley">
          </div>
          <div class="content SF">
            <h3>Poppy & Barley</h3>
            <a href="#">Jo Malone</a>
            <div class="mb4">
              <span class="saleoff mr8">NT$1,380</span>
              <span class="price"><del class="g-3">NT$1,580</del></span>
            </div>
          </div>
        </li>
        <li>
          <div class="container">
            <img src="../assets/images/index7.jpg" alt="Body Wash">
          </div>
          <div class="content SF">
            <h3>Body Wash</h3>
            <a href="#">Curology</a>
            <div class="mb4">
              <span class="price">NT$1,580</span>
            </div>
          </div>
        </li>
        <li>
          <div class="container">
            <div class="overlay">
              <span class="SF df aic jc">Sold out</span>
              <img src="../assets/images/index8.jpg" alt="Apple Cider Vinegar Capsule">
            </div>
          </div>
          <div class="content SF">
            <h3>Apple Cider Vinegar Capsule</h3>
            <a href="#">Tonik</a>
            <div class="mb4">
              <span class="price fz16">NT$1,580</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="goods-feature df aic SF">
      <div class="img-wrap">
        <img src="../assets/images/index9.jpg" alt="Bottole-recycling">
      </div>
      <div class="content">
        <h3 class="fz32">Bottle-Recycling</h3>
        <h4 class="fz20 mb16">Recycle your used empty bottles and be rewarded!</h4>
        <p class="fz16 mb16">For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.For the past 10 years, we have collected over 800,000 bottles through Empty Bottle Recycling Campaign and planted more than 860 pine trees for a better environment.</p>
        <a href="#">查看更多</a>
      </div>
    </div>
    <%- include('./layout/subscription'); -%>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
