<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D'Perfume</title>
    <%- include('./layout/head'); -%>
    <script type="module" src="../main.js"></script>
</head>
  <body>
    <%- include('./layout/nav'); -%>
    <div class="subnav-wrap SF">
        <div class="subnav">
            <ul class="df aic fz20">
                <li><a href="#">CHANEL</a></li>
                <li><a href="#">Jo Malone</a></li>
                <li><a href="#">Curology</a></li>
                <li><a href="#">Dior</a></li>
                <li><a href="#">Chloe</a></li>
                <li><a href="#">ZARA</a></li>
            </ul>
        </div>
    </div>
    <div class="list-wrap SF">
        <ul class="list df jb">
        </ul>
    </div>
    <div class="pagination SF">
        <ul class="page">
            <li><a href="#" class="focus">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </div>
    <%- include('./layout/subscription'); -%>
    <%- include('./layout/footer'); -%>
  </body>
</html>
